section{
    padding-block: 10rem;
}

section header h4{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

section header h2{
    font-size: 3rem;
    line-height: 3.9rem;

    color: var(--headline);
}

section header h1{
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;

    margin-bottom: 2.4rem;   
}

section .content p{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;

    color: var(--paragraph);
}