#services .card circle{
    fill: var(--brand-light);
}

#services header h4{
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08rem;

    text-transform: uppercase;

    color: var(--primary-color);

    margin-bottom: 1.6rem;
}

#services header h2{
    margin-bottom: 6rem;
}

#services .cards{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .card{
    padding: 2.4rem;
    text-align: left;

    background: var(--white);

    border: 1px solid var(--brand-light);
    border-radius: .6rem;
}

#services .card h3{
    margin-block: 1.6rem;
}